@using MySqlX.XDevAPI
@using Microsoft.AspNetCore.Http
@model List<ProductWithByteImages>
@{
    ViewData["Title"] = "Fő oldal";
}


@* 
<link href="ServMidMan.styles.css" rel="stylesheet" /> *@
<!-- Full-size navbar -->
<section id="navbar-full">
    <input type="hidden" id="sendButton" value="Send Message" />
    <input type="hidden" id="ProductUploadedButton" value="Send Message" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Termék szűrő</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form method="post" action="/Home/Index">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <input class="form-control" name="Name" type="search" placeholder="Keresés" aria-label="Search">
                        </li>
                        <li class="nav-item">
                            <select class="form-control" id="CategoryRadio" name="Category" onchange="changeFirstElementContent()">
                                <option value="Kategória" disabled selected hidden>Kategória</option>
                                <option value="Elektronika">Elektronika</option>
                                <option value="Jármű">Jármű</option>
                                <option value="Bútor">Bútor</option>
                                <option value="Sport">Sport</option>
                                <option value="Gép">Gép</option>
                                <option value="Szerszám">Szerszám</option>
                                <option value="Ruha">Ruha</option>
                                <option value="Hangszer">Hangszer</option>
                                <option value="Egyéb">Egyéb</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <select class="form-control" name="Region">
                                <option value="Kerület" disabled selected hidden>Kerület</option>
                                <option value="Banskobystrický">Banskobystrický</option>
                                <option value="Trnavský">Trnavský</option>
                                <option value="Prešovský">Prešovský</option>
                                <option value="Žilinský">Žilinský</option>
                                <option value="Trenčiansky">Trenčiansky</option>
                                <option value="Nitriansky">Nitriansky</option>
                                <option value="Košický">Košický</option>
                                <option value="Bratislavský">Bratislavský</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <div class="input-group">
                                <input type="text" name="Location" class="form-control" id="inputField" autocomplete="off" placeholder="Adj meg város nevet" >
                                <div class="suggestions-container" id="suggestionsContainer"></div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <input class="form-control" type="number" name="minPrice" placeholder="Min Ár">
                        </li>
                        <li class="nav-item">
                            <input class="form-control" type="number" name="Price" placeholder="Max Ár">
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-success" type="submit">Keresés</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</section>

<!-- Small-size navbar -->
<section id="navbar-small">
    <input type="hidden" id="sendButton" value="Send Message" />
    <input type="hidden" id="ProductUploadedButton" value="Send Message" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Termék szűrő</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-small"
                    aria-controls="navbarSupportedContent-small" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-small">
                <form class="form-inline my-2 my-lg-0" method="post" action="/Home/Index">
                    <input class="form-control mr-sm-2" name="Name" type="search" placeholder="Keresés" aria-label="Search">
                    <select class="form-control" id="CategoryRadio" name="Category" onchange="changeFirstElementContent()">
                        <option value="Category" disabled selected hidden>Kategória</option>
                        <option value="Jármű">Jármű</option>
                        <option value="Bútor">Bútor</option>
                        <option value="Sport">Sport</option>
                        <option value="Gép">Gép</option>
                        <option value="Szerszám">Szerszám</option>
                        <option value="Ruha">Ruha</option>
                        <option value="Hangszer">Hangszer</option>
                        <option value="Egyéb">Egyéb</option>
                    </select>
                    <select class="form-control" name="Region">
                        <option value="Kerület" disabled selected hidden>Kerület</option>
                        <option value="Banskobystrický">Banskobystrický</option>
                        <option value="Trnavský">Trnavský</option>
                        <option value="Prešovský">Prešovský</option>
                        <option value="Žilinský">Žilinský</option>
                        <option value="Trenčiansky">Trenčiansky</option>
                        <option value="Nitriansky">Nitriansky</option>
                        <option value="Košický">Košický</option>
                        <option value="Bratislavský">Bratislavský</option>
                    </select>
                    <div class="input-group">
                        <input type="text" name="Location" class="form-control" id="inputField" autocomplete="off" placeholder="Adj meg város nevet">
                        <div class="suggestions-container" id="suggestionsContainer"></div>
                    </div>
                    <input class="form-control mr-sm-2" type="number" name="minPrice" placeholder="Min Ár">
                    <input class="form-control mr-sm-2" type="number" name="Price" placeholder="Max Ár">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
                </form>
            </div>
        </div>
    </nav>
</section>

<section class="section-products">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-cards-container">
                        <!-- First Card -->
                        @if (ViewBag.NoProduct == null)
                        {
                            @foreach (var product in Model)
                            {
                                <div class="product-card">
                                    <h2 class="text-center">@product.Products.Name</h2>
                                    @if (@product.ImagePaths.Count == 0)
                                    {
                                        <div id="product-@product.Products.Id" style="background: url('https://www.viewhotels.jp/ryogoku/wp-content/uploads/sites/9/2020/03/test-img.jpg') no-repeat center; background-size: cover;" class="single-product" onclick="redirectToProduct('@product.Products.Id')" onmouseover="changeCursor()" onmouseout="restoreCursor()">
                                            <div class="part-1">
                                                <!-- Add your other content here if needed -->
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="product-@product.Products.Id" style="background: url('@product.ImagePaths[0]') no-repeat center; background-size: cover;" class="single-product" onclick="redirectToProduct('@product.Products.Id')" onmouseover="changeCursor()" onmouseout="restoreCursor()">
                                            <div class="part-1">
                                                <!-- Add your other content here if needed -->
                                            </div>
                                        </div>

                                    }
                                </div>
                            }
                        }
                        else
                        {

                            <div class="alert alert-info" role="alert">
                                <strong>Hiba:</strong> @ViewBag.NoProduct
                            </div>
                            
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="pagination">
@*         @{
            var a = ViewData["MaxPages"];
            if(true)
        } *@
        @for(int i = 0; i < Convert.ToInt32(ViewData["MaxPages"]); i++)
        {
            if (i == Convert.ToInt32(ViewData["Page"]))
            {
                <a class="active" href="#">@(i+1)</a>
            }
            else{
            <a href="#">@(i+1)</a>
            }
        }
    </div>
</section>
<script>
    window.onload = function () {
        // Get the default option text
        var defaultOptionText = document.getElementById("CategoryRadio").options[0].text;

        // Get the width of the default option text
        var minWidth = getTextWidth(defaultOptionText);

        // Set the minimum width for the dropdown
        document.getElementById("CategoryRadio").style.minWidth = minWidth + "px";
    };

    function getTextWidth(text) {
        // Create a temporary span element to measure text width
        var span = document.createElement("span");
        span.style.visibility = "hidden";
        span.style.position = "absolute";
        span.style.whiteSpace = "nowrap";
        span.innerText = text;

        // Append the span to the body
        document.body.appendChild(span);

        // Get the width of the span
        var width = span.offsetWidth;

        // Remove the span from the body
        document.body.removeChild(span);

        return width;
    }
    function changeFirstElementContent() {
        var dropdown = document.getElementById("CategoryRadio");
        var firstOption = dropdown.options[0]; // Get the first option element

        // Change its content based on the selected option
@*         switch (dropdown.value) {
            case "item1":
                firstOption.textContent = "1";
                break;
            case "item2":
                firstOption.textContent = "2";
                break;
            case "item3":
                firstOption.textContent = "3";
                break;
            default:
                firstOption.textContent = "4";
                break;
        } *@
    }
    function redirectToProduct(productId) {
        window.location.href = '/Home/Product?id=' + productId;
    }

    $(document).ready(function () {
        $('#inputField').on('input', function () {
            var input = $(this).val().trim();
            if (input.length >= 3) {
                $.ajax({
                    url: '/Home/GetSuggestions',
                    type: 'GET',
                    data: { input: input },
                    success: function (response) {
                        var suggestionsHtml = '';
                        $.each(response, function (index, value) {
                            suggestionsHtml += '<div class="suggestion">' + value + '</div>';
                        });
                        $('#suggestionsContainer').html(suggestionsHtml);
                        $('#suggestionsContainer').css('display', 'block');

                        // Handle click event on suggestions
                        $('.suggestion').click(function () {
                            var selectedCity = $(this).text();
                            $('#inputField').val(selectedCity);
                            $('#suggestionsContainer').empty().hide();
                        });
                    }
                });
            } else {
                $('#suggestionsContainer').empty().hide();
            }
        });

        // Close suggestions on outside click
        $(document).on('click', function (e) {
            if (!$(e.target).closest('#suggestionsContainer').length && !$(e.target).closest('#inputField').length) {
                $('#suggestionsContainer').empty().hide();
            }
        });
    });

    $(document).ready(function(){
    $(".pagination a").click(function(e){
        e.preventDefault(); // Prevent the default action of the link
        
        var pageNumber = $(this).text(); // Get the text of the clicked link
        
        var urlWithParameters = '/Home/Index?page=' + pageNumber; // Construct URL with parameters
window.location.href = urlWithParameters; 

        @* // Now you can send the pageNumber to your controller via AJAX or any other method
        // For example, you can use AJAX to send the pageNumber to your controller
        $.ajax({
            url: '/Home/Index?page= ' + pageNumber,
            type: 'GET', // or 'GET' depending on your controller setup
            success: function(response) {
                // Handle the response from the controller
                console.log(response);

            },
            error: function(xhr, status, error) {
                // Handle errors
                console.error(error);
            }
        }); *@
    });
});

    function changeCursor() {
        document.body.style.cursor = "pointer";
    }

    function restoreCursor() {
        document.body.style.cursor = "auto";
    }
</script>

<style>
    @@media (min-width: 992px) {
        /* Apply styles only when the screen width is larger than 900px */
        #navbar-small {
            display: none; /* Hide small-size navbar */
        }
    }

    @@media (max-width: 991px) {
        /* Apply styles only when the screen width is smaller than or equal to 900px */
        #navbar-full {
            display: none; /* Hide full-size navbar */
        }
    }
    body {
        background-color: #f8f9fa;
        color: #333;
    }

    .product-cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product-card {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px;
        flex: 1 0 calc(25% - 50px); /* Set flex-grow, flex-shrink, and flex-basis */
        max-width: calc(25% - 50px); /* Set max-width */
        min-width: calc(25% - 50px); /* Set min-width */
    }
    @@media (max-width: 1200px) {
    .product-card {
        flex: 1 0 calc(33.333% - 40px); /* Adjust for 3 columns */
        max-width: calc(33.333% - 40px);
        min-width: calc(33.333% - 40px);
    }
}

@@media (max-width: 992px) {
    .product-card {
        flex: 1 0 calc(50% - 40px); /* Adjust for 2 columns */
        max-width: calc(50% - 40px);
        min-width: calc(50% - 40px);
    }
}

@@media (max-width: 768px) {
    .product-card {
        flex: 1 0 calc(100% - 40px); /* Adjust for 1 column */
        max-width: calc(100% - 40px);
        min-width: calc(100% - 40px);
    }
}

    .product-images img {
        width: 100%;
        margin-bottom: 20px;
    }

    .ratings {
        margin-top: 20px;
    }

    .rating-stars {
        font-size: 24px;
    }

    .input-group {
        position: relative;
    }

    .suggestions-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 5px 5px;
        z-index: 1000;
        max-height: 200px;
        overflow-y: auto;
    }

    .suggestion {
        padding: 5px 10px;
        cursor: pointer;
    }

        .suggestion:hover {
            background-color: #f0f0f0;
        }

    .pagination {
        display: inline-block; /* Display the pagination as inline-block */
        margin-top: 20px; /* Add some top margin for better spacing */
    }

        .pagination a {
            color: black;
            display: inline-block; /* Change from float:left to display:inline-block */
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            .pagination a.active {
                background-color: dodgerblue;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }

    section {
        text-align: center; /* Center-align the content */
    }
</style>
